#hero__wrapper {
    // hero__wrapper start
    // position: relative;
    width: 100vw;
    min-height: 100vh;
    overflow: hidden;

    display: flex;
    // justify-content: center;
    // align-items: center;

    .profile__card-left-wrap {
        // profile__card-left-wrap start
        width: 70%;
        min-height: 10vh;
        // background-color: var(--dk-background_color-left);


        // border: .0625rem solid #dc04f0;
        // border-radius: 5px;



        .profile__card-left-content {
            --border-width: 1px;
            --primary-900: hsl(256, 43%, 7%);
            --surface-1: var(--primary-900);
            // profileCard-content start
            padding: var(--lrgCard_padding, 15px 20px);
            // margin: auto;
            width: 35%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            // border: .0625rem solid #fff;
            // border-radius: 5px;
            // background: #00000069;
            // filter: blur(1px);
            // card-content positioning
            border-radius: 1rem;

            // position: relative;

            background: hsl(from var(--surface-1) h s l / 0.5);
            backdrop-filter: blur(10px);
            position: absolute;
            top: 60%;
            left: 50%;
            transform: translate(-135.7%, -50%);


            .profile__card-left-content::before {
                content: " ";
                position: absolute;
                inset: 0;
                border-radius: inherit;
                border: var(--border-width) solid transparent;
                background: linear-gradient(var(--border-1), var(--border-2)) border-box;
                mask: linear-gradient(#000 0 0) border-box, linear-gradient(#000 0 0) padding-box;
                mask-composite: subtract;
                z-index: -1;
            }

            h1 {
                // h1 start
                color: #fff;
                font-size: 42px;
                font-weight: 300;
                letter-spacing: 4px;
            }

            // h1 end


            p {
                // p start
                color: var(--lt-secondary_text_color);
                font-size: 18px;
                font-weight: 300;
                margin-bottom: 16px;
                padding: 10px 20px;

                text-align: left;
                min-width: 40%;
            }

            // p end

            .btn {
                // btn start
                display: inline-block;
                padding: 10px 20px;
                background-color: var(--primary-300);
                color: var(--accent-400);
                text-decoration: none;
                border-radius: 1rem;
                cursor: pointer;
            }

            // profileCard-content end
        }

        img {
            position: absolute;
            top: 35%;
            left: -50%;
            transform: translate(-50%, -10%);
            border: solid 4px 4px #fff;
            // border: .0625rem solid #0af6bb;
        }

        #img__top {
            //imgTop start
            // border: .0625rem solid #f6e20a;
            width: 27%;
            left: 51%;
            // background-color: var(--dk-background_color-left);

        }

        //imgTop end






        // profile__card-left-wrap end
    }
}

// hero__wrapper end