$berkeley-blue: #052b56;
$berkeley-blue-2: #052f5f;
$indigo-dye: #03416b;
$indigo-dye-2: #005377;
$celadon: #b3e9c7;
$mexican-pink: #d72483;
$cream: #eff7cf;

:root {
    // dark mode colors
    --dk-background_color: #140b28;
    --dk-background_color-left: hsl(261, 73%, 64%);
    --dk-primary_color: hsl(248, 86%, 67%);
    --dk-secondary_color: hsl(176, 98%, 67%);
    --dk-tertiary_color: hsl(306, 100%, 73%);
    --dk-quaternary_color: hsl(237, 100%, 73%);
    // light mode colors
    --lt-background_color: hsl(0, 0%, 100%);
    --lt-primary_color: hsl(248, 86%, 67%);
    --lt-secondary_color: hsl(176, 98%, 67%);
    --lt-tertiary_color: hsl(306, 100%, 73%);
    // light mode text colors
    --lt-primary_text_color: hsl(0, 2%, 10%);
    --lt-secondary_text_color: hsl(0, 2%, 67%);
    // dark mode text colors
    --dk-primary_text_color: hsl(0, 0%, 100%);
    --dk-secondary_text_color: hsl(0, 0%, 0%);
    // font variables

    --tertiary_font: "PT Sans", sans-serif;

    // nav variables:
    --nav-items_padding: 1.25rem;
    --nav-items-gap: 1rem;
    --nav-font-size: 2rem;

    // card layout variables:
    --lrgCard_padding: .9375rem .625rem;



    /* CSS HEX */
    --berkeley-blue: #052b56ff;
    --berkeley-blue-2: #052f5fff;
    --indigo-dye: #03416bff;
    --indigo-dye-2: #005377ff;
    --celadon: #b3e9c7ff;
    --mexican-pink: #d72483ff;
    --cream: #eff7cfff;

    /* CSS HSL */
    --berkeley-blue: hsla(212, 89%, 18%, 1);
    --berkeley-blue-2: hsla(212, 90%, 20%, 1);
    --indigo-dye: hsla(204, 95%, 22%, 1);
    --indigo-dye-2: hsla(198, 100%, 23%, 1);
    --celadon: hsla(142, 55%, 81%, 1);
    --mexican-pink: hsla(328, 71%, 49%, 1);
    --cream: hsla(72, 71%, 89%, 1);

    /* SCSS RGB */
    $berkeley-blue: rgba(5, 43, 86, 1);
    $berkeley-blue-2: rgba(5, 47, 95, 1);
    $indigo-dye: rgba(3, 65, 107, 1);
    $indigo-dye-2: rgba(0, 83, 119, 1);
    $celadon: rgba(179, 233, 199, 1);
    $mexican-pink: rgba(215, 36, 131, 1);
    $cream: rgba(239, 247, 207, 1);

    /* SCSS Gradient */
    $gradient-top: linear-gradient(0deg, #052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
    $gradient-right: linear-gradient(90deg, #052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
    $gradient-bottom: linear-gradient(180deg, #052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
    $gradient-left: linear-gradient(270deg, #052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
    $gradient-top-right: linear-gradient(45deg, #052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
    $gradient-bottom-right: linear-gradient(135deg, #052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
    $gradient-top-left: linear-gradient(225deg, #052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
    $gradient-bottom-left: linear-gradient(315deg, #052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
    $gradient-radial: radial-gradient(#052b56ff, #052f5fff, #03416bff, #005377ff, #b3e9c7ff, #d72483ff, #eff7cfff);
}



:root {
    /* color variables */
    --bg-color: #2A3950;
    --bs-color: rgba(0, 0, 0, 0.6);
    --gradient-start: #fe9677;
    --gradient-end: #f64668;
    --text-color: #fff;
    /* spacing variables */
    --hover-scale: 1.2;
    --shadow-blur: 2px;
    --shadow-spread: 5px;
    --outline-width: 2px;
    --outline-offset: 2px;
    --menu-width: 15.625rem;
    --border-radius: .3125rem;
    --font-size: 1.125rem;
    --padding: .5rem;
    --margin: .1875rem 0;
    /* animation variables */
    --letter-spacing: .0625rem;
    --letter-spacing-expanded: 6.25rem;
    --transition-duration: 0.3s;
}

 b:root {
     --dk-50-blue: #3697b9 - 50%,
     --dk-24-blue: #abcada - 24%,
     --dk-13-blue: #135e80 - 13%,
     --dk-10-blue: #072f45 - 10%,
     --dk-4-blue: #867c7b - 4%

    //  #abcada - 24%,
    //  #135e80 - 13%,
    //  #072f45 - 10%,
    //  #867c7b - 4%

}