:root {
    // dark mode colors
    --dk-background_color: hsl(258, 58%, 10%);
    --dk-primary_color: hsl(248, 86%, 67%);
    --dk-secondary_color: hsl(176, 98%, 67%);
    --dk-tertiary_color: hsl(306, 100%, 73%);
    --dk-quaternary_color: hsl(237, 100%, 73%);
    // light mode colors
    --lt-background_color: hsl(0, 0%, 100%);
    --lt-primary_color: hsl(248, 86%, 67%);
    --lt-secondary_color: hsl(176, 98%, 67%);
    --lt-tertiary_color: hsl(306, 100%, 73%);
    // light mode text colors
    --lt-primary_text_color: hsl(0, 2%, 10%);
    --lt-secondary_text_color: hsl(0, 0%, 100%);
    // dark mode text colors
    --dk-primary_text_color: hsl(0, 0%, 100%);
    --dk-secondary_text_color: hsl(0, 0%, 0%);
    // font variables
   
   
    --tertiary_font: "PT Sans", sans-serif;

}