:root {
    // dark mode colors
    --background_color: #140b29;
    --primary_color: #7765F3;
    --secondary_color: #57FDF3;
    --tertiary_color: #FF77F1;
    --quaternary_color: #FF77F3;
    // light mode colors
    --background_color: #fff;
    --primary_color: #7765F3;
    --secondary_color: #57FDF3;
    --tertiary_color: #FF77F1;
    // light mode text colors
    --primary_text_color: #000;
    --secondary_text_color: #fff;
    // dark mode text colors
    --primary_text_color: #fff;
    --secondary_text_color: #000;
    // font variables
    --primary_font: "Nunito", sans-serif;
    --secondary_font: "PT Sans", sans-serif;
    --tertiary_font: "PT Sans", sans-serif;

}