h1 {
    font-family: var(--nunito-title-bold);
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 1rem;
    color: #09ecdd;
}

:root {
    // font variables
    --h1: 700 1.125rem/1.2em var(--nunito-title-bold);
    --h2: 700 1rem/1.2em var(--nunito-title-bold);
    --h3: 700 0.875rem/1.2em var(--nunito-title-bold);

    // paragraph variables
    --p: 400 1rem/1.2em var(--nunito-title-regular);
    --p-small: 400 0.875rem/1.2em var(--nunito-title-regular);
    --p-x-small: 400 0.75rem/1.2em var(--nunito-title-regular);
}