@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap");
@font-face {
  font-family: "PT-Sans";
  src: url();
  font-weight: 100 700;
}
.pt-sans-regular {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.pt-sans-bold {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.pt-sans-regular-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.pt-sans-bold-italic {
  font-family: "PT Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.nunito-title-regular {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.nunito-title-bold {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

:root {
  --nunito-title-regular: "Nunito", sans-serif;
  --nunito-title-bold: "Nunito", sans-serif;
  --nunito-title-regular-italic: "Nunito", sans-serif;
  --nunito-title-bold-italic: "Nunito", sans-serif;
  --pt-sans-regular: "PT Sans", sans-serif;
  --pt-sans-bold: "PT Sans", sans-serif;
  --pt-sans-regular-italic: "PT Sans", sans-serif;
  --pt-sans-bold-italic: "PT Sans", sans-serif;
}

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Remove default margin and padding */
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
dl,
dt,
dd {
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphenate-limit-chars: 3 3 3;
  hyphenate-limit-chars: 3 3 3;
  -webkit-hyphenate-limit-lines: 2;
  -webkit-hyphenate-limit-last: always;
}

/** Improve line wrapping */
p {
  text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

/* Remove list styles on ul, ol elements */
ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--lt-primary_color);
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  font-family: var(--primary_font);
  height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  background: var(--dk-background_color);
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
/*This is beneficial since it allows us to guarantee that certain high-priority elements (modals, dropdowns, tooltips) will always show up above the other elements in our application. No weird stacking context bugs, no z-index arms race.

You should tweak the selector to match your framework. We want to select the top-level element that your application is rendered within. For example, create-react-app uses a <div id="root">, so the correct selector is #root. */
#root,
#__next {
  isolation: isolate;
}

:root {
  --dk-background_color: #140b28;
  --dk-background_color-left: hsl(261, 73%, 64%);
  --dk-primary_color: hsl(248, 86%, 67%);
  --dk-secondary_color: hsl(176, 98%, 67%);
  --dk-tertiary_color: hsl(306, 100%, 73%);
  --dk-quaternary_color: hsl(237, 100%, 73%);
  --lt-background_color: hsl(0, 0%, 100%);
  --lt-primary_color: hsl(248, 86%, 67%);
  --lt-secondary_color: hsl(176, 98%, 67%);
  --lt-tertiary_color: hsl(306, 100%, 73%);
  --lt-primary_text_color: hsl(0, 2%, 10%);
  --lt-secondary_text_color: hsl(0, 2%, 67%);
  --dk-primary_text_color: hsl(0, 0%, 100%);
  --dk-secondary_text_color: hsl(0, 0%, 0%);
  --tertiary_font: "PT Sans", sans-serif;
  --nav-items_padding: 1.25rem;
  --nav-items-gap: 1rem;
  --nav-font-size: 2rem;
  --lrgCard_padding: .9375rem .625rem;
  /* CSS HEX */
  --berkeley-blue: #052b56ff;
  --berkeley-blue-2: #052f5fff;
  --indigo-dye: #03416bff;
  --indigo-dye-2: #005377ff;
  --celadon: #b3e9c7ff;
  --mexican-pink: #d72483ff;
  --cream: #eff7cfff;
  /* CSS HSL */
  --berkeley-blue: hsla(212, 89%, 18%, 1);
  --berkeley-blue-2: hsla(212, 90%, 20%, 1);
  --indigo-dye: hsla(204, 95%, 22%, 1);
  --indigo-dye-2: hsla(198, 100%, 23%, 1);
  --celadon: hsla(142, 55%, 81%, 1);
  --mexican-pink: hsla(328, 71%, 49%, 1);
  --cream: hsla(72, 71%, 89%, 1);
  /* SCSS RGB */
  /* SCSS Gradient */
}

:root {
  /* color variables */
  --bg-color: #2A3950;
  --bs-color: rgba(0, 0, 0, 0.6);
  --gradient-start: #fe9677;
  --gradient-end: #f64668;
  --text-color: #fff;
  /* spacing variables */
  --hover-scale: 1.2;
  --shadow-blur: 2px;
  --shadow-spread: 5px;
  --outline-width: 2px;
  --outline-offset: 2px;
  --menu-width: 15.625rem;
  --border-radius: .3125rem;
  --font-size: 1.125rem;
  --padding: .5rem;
  --margin: .1875rem 0;
  /* animation variables */
  --letter-spacing: .0625rem;
  --letter-spacing-expanded: 6.25rem;
  --transition-duration: 0.3s;
}

b:root {
  --dk-50-blue: #3697b9 - 50%,
   --dk-24-blue: #abcada - 24%,
   --dk-13-blue: #135e80 - 13%,
   --dk-10-blue: #072f45 - 10%,
   --dk-4-blue: #867c7b - 4%
  // #abcada - 24%,
  // #135e80 - 13%,
  // #072f45 - 10%,
  // #867c7b - 4% ;
}

:root {
  --primary-900: hsl(256, 43%, 7%);
  --primary-800: hsl(240, 24%, 13%);
  --primary-700: hsl(243, 26%, 15%);
  --primary-600: hsl(252, 9%, 22%);
  --primary-500: hsl(259, 13%, 28%);
  --primary-400: hsl(254, 22%, 32%);
  --primary-300: hsl(251, 13%, 68%);
  --primary-200: hsl(240, 15%, 76%);
  --primary-100: hsl(240, 21%, 88%);
  --neutral-100: hsl(0, 0%, 100%);
  --accent-400: hsl(93, 60%, 69%);
  --text-1: var(--neutral-100);
  --text-2: var(--primary-100);
  --text-3: var(--primary-200);
  --surface-1: var(--primary-900);
  --surface-2: var(--primary-800);
  --surface-3: var(--primary-700);
  --border-1: var(--primary-500);
  /* top */
  --border-2: var(--primary-600);
  /* bottom */
}

h1 {
  font-family: var(--nunito-title-bold);
  font-size: var(--h1-size);
  font-weight: var(--h1-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--dk-secondary_color);
  text-transform: uppercase;
}

h2 {
  font-family: var(--nunito-title-bold);
  font-size: var(--h2-size);
  font-weight: var(--h2-weight);
  line-height: 1.2;
  margin-bottom: 1rem;
  color: var(--dk-primary_text_color);
  text-transform: uppercase;
}

h1, h2 {
  max-width: 60ch;
}

:root {
  --primary_font: "Nunito", sans-serif;
  --nunito-title-regular: "Nunito", sans-serif;
  --nunito-title-bold: "Nunito", sans-serif;
  --secondary_font: "PT Sans", sans-serif;
  --nunito-regular: "Nunito", var(--font-fallback);
  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --h1-size: clamp(1.8rem, 4vw, 2.5rem);
  --h1-weight: 700;
  --h2-size: clamp(1rem, 2.5vw, 1.5rem);
  --h2-weight: 700;
  --line-height-tight: 1.2;
  --line-height-normal: 1.5;
  --spacing-text-bottom: 1rem;
  --h3: var(--h3-weight) var(--h3-size)/var(--line-height-tight) var(--font-nunito);
  --p: 400 1rem/1.2em var(--secondary_font);
  --p-small: 400 0.875rem/1.2em var(--secondary_font);
  --p-x-small: 400 0.75rem/1.2em var(--secondary_font);
  --font-fallback: BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
      "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

#hero__wrapper {
  width: 100vw;
  min-height: 100vh;
  overflow: hidden;
  display: flex;
}
#hero__wrapper .profile__card-left-wrap {
  width: 70%;
  min-height: 10vh;
}
#hero__wrapper .profile__card-left-wrap .profile__card-left-content {
  --border-width: 1px;
  --primary-900: hsl(256, 43%, 7%);
  --surface-1: var(--primary-900);
  padding: var(--lrgCard_padding, 15px 20px);
  width: 35%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  background: hsl(from var(--surface-1) h s l/0.5);
  backdrop-filter: blur(10px);
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-135.7%, -50%);
}
#hero__wrapper .profile__card-left-wrap .profile__card-left-content .profile__card-left-content::before {
  content: " ";
  position: absolute;
  inset: 0;
  border-radius: inherit;
  border: var(--border-width) solid transparent;
  background: linear-gradient(var(--border-1), var(--border-2)) border-box;
  mask: linear-gradient(#000 0 0) border-box, linear-gradient(#000 0 0) padding-box;
  mask-composite: subtract;
  z-index: -1;
}
#hero__wrapper .profile__card-left-wrap .profile__card-left-content h1 {
  color: #fff;
  font-size: 42px;
  font-weight: 300;
  letter-spacing: 4px;
}
#hero__wrapper .profile__card-left-wrap .profile__card-left-content p {
  color: var(--lt-secondary_text_color);
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 16px;
  padding: 10px 20px;
  text-align: left;
  min-width: 40%;
}
#hero__wrapper .profile__card-left-wrap .profile__card-left-content .btn {
  display: inline-block;
  padding: 10px 20px;
  background-color: var(--primary-300);
  color: var(--accent-400);
  text-decoration: none;
  border-radius: 1rem;
  cursor: pointer;
}
#hero__wrapper .profile__card-left-wrap img {
  position: absolute;
  top: 35%;
  left: -50%;
  transform: translate(-50%, -10%);
  border: solid 4px 4px #fff;
}
#hero__wrapper .profile__card-left-wrap #img__top {
  width: 27%;
  left: 51%;
}

.nav__wrapper-left,
.nav__wrapper-right {
  width: 25%;
  height: 50%;
  padding: 10% 0 0 5%;
  z-index: -1;
}
.nav__wrapper-left .nav__items,
.nav__wrapper-right .nav__items {
  list-style: none;
  width: var(--menu-width);
}
.nav__wrapper-left .nav__items .nav__item,
.nav__wrapper-right .nav__items .nav__item {
  width: 90%;
  margin: var(--margin);
  border-radius: var(--border-radius);
  transition: var(--transition-duration) all ease;
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
}
.nav__wrapper-left .nav__items .nav__item .nav__link,
.nav__wrapper-right .nav__items .nav__item .nav__link {
  display: block;
  padding: var(--padding, 0.5rem);
  text-decoration: none;
  font-size: var(--font-size, 1.125rem);
  color: var(--text-color, #fff);
  overflow: hidden;
  white-space: nowrap;
  text-align: left;
}
